img{
    width: 100%;
}
.my-bg-1{
    background-color: rgb(101, 216, 162);
}
.my-shadow{
    box-shadow: 0px 0px 15px rgb(182, 231, 208);
}
.active{
    font-weight: 900;
}
[class *=col]{
    padding: 20px 10px;
}
.color-hadery{
    background-color: rgb(95, 218, 218);
    
}



